<div>
  <div>Scheduled reports</div>
  <thead>
    <tr>
      <div>Report name</div>
      <div>Status</div>
      <div>Schedule</div>
      <div>Next run</div>
      <div>Actions</div>
    </tr>
  </thead>
</div>