<div>
  <div>Report</div>
  <div>
    <div>
      <div>Report name</div>
      <div>Status</div>
      <div>Requested by</div>
      <div>Requested on</div>
      <div>Output format</div>
      <div>Parameters</div>
      <div>Actions</div>
    </div>
  </div>
</div>