<% content_for :title, "Laboratory" %>
<div class="w-full divide-y divide-neutral-300">
  <div class="flex justify-between items-center">
    <div class="p-2">
      <div>Clinic</div>
      <h1 class="font-medium text-3xl">Laboratory</h1>
    </div>
  </div>
  <div></div>
</div>
