
<div class="space-y-12">
  <div class="container mx-auto">
    <div class="grid grid-cols-3 gap-2 ">
      <div class="flex items-center justify-center">
        <div class="text-orange-500">
          <div class="text-7xl font-bold">1+</div>
          <div>Countries</div>
        </div>
      </div>
      <div class="flex items-center justify-center">
        <div class="text-purple-500">
          <div class="text-7xl font-bold">5+</div>
          <div>Sites</div>
        </div>
      </div>
      <div class="flex items-center justify-center">
        <div class="text-emerald-500">
          <div class="text-7xl font-bold">1000+</div>
          <div>Patients</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mx-auto">
    <div>
      <div class="text-7xl font-bold">Our Mission</div>
      <div>Improve healthcare delivery in resource-constrained environments by coordinating a global community that creates and sustains a robust, scalable, user-driven and open-source medical record platform.</div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="bg-black"></div>
      <div class="flex items-center justify-center min-h-96 max-h-96 h-full">
        <div>We are a global community of truly dedicated, talented, and generous contributors who build and maintain the OpenMRS platform and other, foundational OpenMRS technical products.</div>
      </div>
      <div class="flex items-center justify-center min-h-96 max-h-96 h-full">
        <div>We maintain a platform that countries and implementers use to create a customized EMR system in response to needs on the ground.</div>
      </div>
      <div class="bg-black"></div>
    </div>
  </div>
  <div class="min-h-56">
    <div class="container mx-auto">
      <div class="text-7xl font-bold">Learn more about:</div>
      <div>
        <div>Who We Are: Our Community, Our Partners, and OpenMRS Inc</div>
        <div>Our Technology: Our Product Vision, Our Platform, and Our Modules</div>
      </div>
    </div>
  </div>
  <div class="bg-orange-500 text-white py-24">
    <div class="container mx-auto">
      <div>
        <div class="text-7xl font-bold">Join OpenMRS</div>
        <div>and get the most out of our Digital Solutions and Global Community</div>
        <div class="bg-purple-500 text-white inline-block p-2.5">Get involved</div>
      </div>
    </div>
  </div>
  <div class="container mx-auto">
    <div class="flex flex-col">
      <div class="text-lg font-bold">Subscribe</div>
      <div>Join the 1,000+ people following the OpenMRS Newsletter</div>
      <%= turbo_frame_tag "newsletter_subscription_form", src: new_admins_newsletter_subscription_path  %>
    </div>
  </div>
</div>
