<div class="container mx-auto py-16">
  <div class="text-7xl font-bold">Medical Record Management</div>
  <div class="flex flex-row gap-2 overflow-scroll">
    <div class="rounded-full font-bold bg-black text-white text-sm px-3 py-1">Free</div>
  </div>
  <div class="text-5xl font-bold">Features</div>
  <div class="space-y-4">
    <div>
      <div class="font-bold text-lg">Configurable for Any Clinical Program</div>
      <div>OpenMRS is designed to be extremely flexible and configurable for any clinical area. Today OpenMRS is used in a wide variety of areas from Primary Care to Specialty Centers for NCD, MCH/ANC, HIV, TB, Malaria, COVID, and many more.</div>
    </div>
    <div>
      <div class="font-bold text-lg">Clinical Documentation and Diagnosis Tracking</div>
      <div>Triage and track your patients' history. Write orders electronically. Create and customize all the forms your providers might need, for any clinical area. Non-developers can build new forms easily with the user-friendly Form Builder.</div>
    </div>
    <div>
      <div class="font-bold text-lg">Registration, Appointments, Queues</div>
      <div>Manage your patient lists and bookings in one location or across multiple sites. Connect your registration to national patient databases.</div>
    </div>
    <div>
      <div class="font-bold text-lg">Clinical Data Reporting & Exports</div>
      <div>Hundreds of studies have used OpenMRS to track and analyze clinical data.</div>
    </div>
    <div>
      <div class="font-bold text-lg">Interoperable Locally and Nationally</div>
      <div>The OpenMRS REST and FHIR APIs make it easier to integrate with other end-user tools, such as ERP Systems, Lab Systems, DHIS2, and more; or, with National Health Exchanges.</div>
    </div>
    <div>
      <div class="font-bold text-lg">Privileges & User Management</div>
      <div>Role-based access and deeper permissions granularity, such as by location or data types.</div>
    </div>
    <div>
      <div class="font-bold text-lg">Language Translation</div>
      <div> Open MRS has configurable translation tools so your team can set up the languages your users need - including supporting multiple different languages at once.</div>
    </div>
  </div>
</div>