<% content_for :title, "New newsletter subscription" %>

<h1>New newsletter subscription</h1>

<%= turbo_frame_tag "newsletter_subscription_form" do %>
  <%= render "form", newsletter_subscription: @newsletter_subscription %>
<% end %>

<br>

<div>
  <%= link_to "Back to newsletter subscriptions", admins_newsletter_subscriptions_path %>
</div>
