<% content_for :title, "Editing appointment" %>

<h1>Editing appointment</h1>

<%= render "form", appointment: @appointment %>

<br>

<div>
  <%= link_to "Show this appointment", [:admins, :patients, @appointment] %> |
  <%= link_to "Back to appointments", admins_patients_appointments_path %>
</div>
