<p style="color: green"><%= notice %></p>

<% content_for :title, "Appointments" %>

<h1>Appointments</h1>

<div id="appointments">
  <% @appointments.each do |appointment| %>
    <%= render appointment %>
    <p>
      <%= link_to "Show this appointment", [:admins, :patients, appointment] %>
    </p>
  <% end %>
</div>

<%= link_to "New appointment", new_admins_patients_appointment_path %>
