<% content_for :title, "New condition" %>

<h1>New condition</h1>

<%= render "form", condition: @condition %>

<br>

<div>
  <%= link_to "Back to conditions", admins_patient_conditions_path %>
</div>
