<nav>
  <ul class="min-w-xs">
    <li>
      <%= link_to admins_bed_management_path do  %>
        <div class="p-2 hover:bg-neutral-100">Summary</div>
      <% end %>
    </li>
    <li>
      <%= link_to admins_bed_administrations_path do %>
        <div class="p-2 hover:bg-neutral-100">Bed allocation</div>
      <% end %>
    </li>
    <li>
      <%= link_to admins_bed_types_path do %>
        <div class="p-2 hover:bg-neutral-100">Bed types</div>
      <% end %>
    </li>
    <li>
      <%= link_to admins_bed_tags_path do %>
        <div class="p-2 hover:bg-neutral-100">Bed tags</div>
      <% end %>
    </li>
  </ul>
</nav>